@{ViewBag.Title = "塑料和弹性体-价格走势";
    ViewBag.keywords = "塑蚁网,塑胶物性,物性表,塑料搜索,搜索平台,塑料助剂,COA,MSDS,UL,FDA,ROHS,REACH,塑料行情";
    ViewBag.DescCentent = "塑蚁网是国内最精准永久免费塑料和助剂搜索平台，拥有行内最齐全的产品数据信息及在此基础上的智能检索、材料替换、材料推荐等功能，提供物性表及COA、MSDS、UL、FDA、ROHS、REACH等材质证明文书下载技术支持。";}
@{
    var company = (ViewBag.company) as System.Data.DataSet;
}
<link href="~/Content/css/iconfont/iconfont.css" rel="stylesheet" />
<link href="~/Content/css/Pagination.css" rel="stylesheet" />
<link href="~/Content/css/iconfont.css" rel="stylesheet" />
<script src="~/Content/layui/lay/modules/layer.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.pagination.js" type="text/javascript"></script>

<style type="text/css">
    html, body {
        background: #ffffff;
    }

    .current {
        display: none !important;
    }

    .page .disabled {
        margin-right: 10px;
    }

    /*span:nth-child(1) {
        margin-right: 20px;
    }*/

    .item-right {
        width: 76%;
        text-align: left;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 0;
    }

    .item-left {
        width: 100%;
        padding: 0;
        background-color: #fff;
        border: 1px solid #ddd;
    }

        .item-left li {
            display: flex;
            width: 50%;
            padding: 8px 10px;
            /*border-bottom: 1px solid #ddd;*/
            box-sizing: border-box;
            float: left;
            border-right: 1px dashed #dddddd;
        }

            .item-left li > .right {
                min-width: 100px;
                max-width: 100px;
                text-align: center;
            }

            .item-left li > .left {
                width: calc(100% - 85px);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-right: 10px;
            }

            .item-left li p {
                line-height: 25px;
            }

            .item-left li .right {
                float: right;
                line-height: 25px;
            }

            .item-left li.active {
                background-color: #14a5ef;
                color: #fff;
            }

                .item-left li.active span {
                    color: #fff !important;
                }

            .item-left li.page {
                padding: 5px 10px;
            }

                .item-left li.page span, .item-left li.page a {
                    margin-left: 20px;
                    cursor: pointer;
                    width: 80px;
                    border: 1px solid #1593ff;
                    background: #1593ff;
                    font-size: 12px;
                    display: block;
                    text-align: center;
                    height: 25px;
                    margin-top: 5px;
                    line-height: 20px;
                    cursor: pointer;
                    color: #ffffff;
                    border-radius: 3px;
                }

    .item-right .footer {
        background-color: #f1fdfc;
        font-size: 12px;
        color: #d4716e;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 18px;
        border-top: 1px #e4f1f3 solid;
    }

    .item-right div {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .item-right .title {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }

    .item-right .right {
        display: inline-block;
        float: right;
    }

    .item-right .day {
        border: 1px solid #ddd;
        border-radius: 20px;
        padding: 0;
    }

        .item-right .day span {
            display: inline-block;
            padding: 0 8px;
            cursor: pointer;
        }

            .item-right .day span.left {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            .item-right .day span.right {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

            .item-right .day span.active {
                background-color: #5ab55a;
                color: #fff;
            }

    .input {
        width: 100px;
        height: 26px;
    }

    .input2 {
        height: 30px;
        line-height: 30px;
        text-align: left;
        padding-left: 10px;
    }

    .btn_price {
        height: 27px;
        line-height: 27px;
        border: #f37b1d solid 1px;
        background: #f37b1d;
        color: #fff;
        border-radius: 5px;
        padding: 0px 10px;
        cursor: pointer;
        letter-spacing: 2px;
        vertical-align: middle;
    }

        .btn_price:hover {
            background: #c85e0b;
            border: #c85e0b solid 1px;
        }
    /*新版数据列表*/
    .listitem {
        width: 50%;
        height: 45px;
        margin: 0 auto;
        float: left;
        border-right: 1px dashed #dddddd;
        cursor: pointer;
        color: #333333;
    }

    .itembox {
        width: 95%;
        height: 45px;
        border-bottom: 1px solid #dddddd;
        margin: 0 auto;
    }

        .itembox.active {
            background-color: #14a5ef;
            color: #fff;
        }

            .itembox.active .itemtitle, .itembox.active .itemclass, .itembox.active .itemzd span {
                color: #fff !important;
            }

    .itemtitle {
        width: 40%;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        color: #333333;
        float: left;
        text-align: left;
        text-indent: 5px;
    }

    .itemclass {
        width: 30%;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        color: #333333;
        float: left;
        text-align: center;
    }

    .itemzd {
        width: 30%;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        float: left;
        text-align: center;
    }

    .text-blue {
        color: #278cd2 !important;
    }

    /*#Pagination span {
        float: left;
        width: 80px;
        border: 1px solid #1593ff;
        background: #1593ff;
        font-size: 12px;
        display: block;
        text-align: center;
        height: 25px;
        margin-top: 5px;
        line-height: 20px;
        cursor: pointer;
        color: #ffffff;
        border-radius: 3px;
    }*/

    /*新版数据列表*/

    .newitem {
        float: left;
        margin-left: 30px;
        cursor: pointer;
        border-bottom: 1px solid #ffffff;
    }
        .newitem:hover {
            border-bottom: 1px solid #1593FF;
        }
        .itemactive {
            color: #ff4200;
            text-decoration: underline;
        }

    .itemboxclass {
        display:none !important;
    }
    .itemboxclassshow {
        display: flex !important;
    }

    .childshowclass {
        display:block !important;
    }
</style>
<script src="~/Content/js/jeDate/jedate.js" type="text/javascript"></script>
<script src="~/Content/js/vue.js" type="text/javascript"></script>

@*@Html.Partial("~/Views/Public/SubPageNav.cshtml")*@
@Html.Partial("~/Views/Public/PubSearch.cshtml")

@*@{
        Html.RenderAction("PubSearch", "Public");
    }*@

<div id="allbox" style="width:100%;height:auto;margin-bottom:10px;margin-top:15px;">
    <div class="mainwidth" style="height:auto;min-height:200px;border:1px solid #dddddd;margin:20px auto;">
        <div class="search-item-box">
            @*<div class="search-item">
            <div class="search-item-type" style="background:#f2f2f2;text-align: center;margin-right: 10px;color: #333333;width:100px;font-size:14px;height:30px;">材料类别 :</div>
            <div class="search-item-content3" style="max-height:none;overflow-y:hidden;">
                <ul data-type="1" class="search_item_contentList" data-typename="材料类别" style="clear:both;">
                    <li data-guid="" data-value="0" class="active">全部</li>
                    @if (company.Tables.Contains("ds") && company.Tables[0].Rows.Count > 0)
                    {
                        for (var i = 0; i < company.Tables[0].Rows.Count; i++)
                        {
                            <li data-guid="1" @(i > 12 ? "class=none name=cailiaotype_1" : "") data-value="@company.Tables[0].Rows[i]["Name"].ToString()">@company.Tables[0].Rows[i]["Name"].ToString()</li>
                        }
                    }
                </ul>
            </div>
            <div class="search-item-btn" data-type="1" data-typename="材料类别" style="width:75px;">更多 ∨</div>
        </div>*@
            <div class="search-item">
                <div class="search-item-type" style="background:#ffffff;text-align: center;margin-right: 10px;color: #333333;width:100px;font-size:14px;height:30px;line-height:30px;">厂家选择 :</div>
                <div class="search-item-content3" style="max-height:250px;">
                    @*<div id="search_4" style="width:100%;height:50px;border-bottom:1px solid #f2f2f2;display:none;">
                    <div style="width:500px;height:50px;float:right;margin-left:100px;">
                        <div style="width:80px;height:30px;margin-left:15px; background:#1593ff;text-align:center;line-height:30px;margin-top:5px;border-radius:5px;font-size:12px;color:#ffffff;float:right;cursor:pointer;">
                            搜索
                        </div>
                        <div style="width:200px;height:30px;margin-top:5px;float:right;">
                            <input type="text" id="classkey" style="width:200px;height:30px;line-height:30px;text-indent:5px;border:1px solid #cccccc;border-radius:3px;" placeholder="搜索厂家" />
                        </div>
                    </div>
                </div>*@
                    <ul data-type="0" class="search_item_contentList" data-typename="生产厂家">
                        @*<li data-guid="" data-value="0" class="active">全部</li>*@
                        @if (company.Tables.Contains("ds") && company.Tables[0].Rows.Count > 0)
                        {
                            for (var i = 0; i < company.Tables[0].Rows.Count; i++)
                            {
                                <li data-guid="1" @(i > 12 ? "class=none name=cailiaotype_0" : "") data-value="@company.Tables[0].Rows[i]["Name"].ToString()" style="color:#666666;margin-left:30px;margin-right:0px;">@company.Tables[0].Rows[i]["Name"].ToString()</li>
                            }
                        }
                    </ul>
                </div>
                <div class="search-item-btn" data-type="0" data-typename="生产厂家" style="width:75px;">更多 ∨</div>
            </div>
            
            <div class="search-item" v-for="(vi,index) in parmlist" v-bind:class="vi.classstr">
                <div class="search-item-type" style="background:#ffffff;text-align: center;margin-right: 10px;color: #333333;width:100px;font-size:14px;height:30px;line-height:30px;">{{vi.Name}} :</div>
                <div class="search-item-content3" style="max-height:none;overflow-y:hidden;">
                    @*<div id="search_2" style="width:100%;height:50px;border-bottom:1px solid #f2f2f2;display:none;">
                        <div style="width:500px;height:50px;float:right;margin-left:100px;">
                            <div style="width:80px;height:30px;margin-left:15px; background:#1593ff;text-align:center;line-height:30px;margin-top:5px;border-radius:5px;font-size:12px;color:#ffffff;float:right;cursor:pointer;">
                                搜索
                            </div>
                            <div style="width:200px;height:30px;margin-top:5px;float:right;">
                                <input type="text" id="classkey" style="width:200px;height:30px;line-height:30px;text-indent:5px;border:1px solid #cccccc;border-radius:3px;" placeholder="搜索通用塑料" />
                            </div>
                        </div>
                    </div>*@
                    <div class="search_item_contentList" style="max-height:250px;overflow-y:auto;">
                        @*<div data-guid="" data-value="0" class="itemactive" style="float:left;cursor:pointer;">全部</div>*@
                        <div v-for="(vo,indexc) in vi.childlist" class="newitem" >
                            <div style="height:100%;color:#666666;" v-bind:data-value="vo.Name" v-bind:id="index+','+indexc" v-bind:class="vo.classstr" onclick="selectitem(this)">
                                {{vo.Name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="vi.childlist.length>12" class="search-item-btn" v-bind:id="index" style="width:75px;" onclick="childmore(this)">{{vi.tname}}</div>
            </div>
            <div style="width:100%;height:40px;cursor:pointer;font-size:14px;color:#0094ff;line-height:40px;text-align:center;letter-spacing:1px;font-weight:700;" onclick="openitembox()">
                {{showtitle}}<span  v-show="showtitle=='点击查看更多查询条件'" class="fa fa-angle-down"></span><span v-show="showtitle=='收起'" class="fa fa-angle-up"></span>
                @*<i v-show="showtitle=='点击查看更多查询条件'" class="iconfont suyixia" style="margin-right:5px;"></i><i v-show="showtitle=='收起'" class="iconfont suyixiangshang" style="margin-right:5px;"></i>*@
            </div>

            @*<div class="search-item">
                <div class="search-item-type" style="background:#f2f2f2;text-align: center;margin-right: 10px;color: #333333;width:100px;font-size:14px;height:30px;">通用塑料 :</div>
                <div class="search-item-content3" style="max-height:none;overflow-y:hidden;">
                    <div id="search_2" style="width:100%;height:50px;border-bottom:1px solid #f2f2f2;display:none;">
                        <div style="width:500px;height:50px;float:right;margin-left:100px;">
                            <div style="width:80px;height:30px;margin-left:15px; background:#1593ff;text-align:center;line-height:30px;margin-top:5px;border-radius:5px;font-size:12px;color:#ffffff;float:right;cursor:pointer;">
                                搜索
                            </div>
                            <div style="width:200px;height:30px;margin-top:5px;float:right;">
                                <input type="text" id="classkey" style="width:200px;height:30px;line-height:30px;text-indent:5px;border:1px solid #cccccc;border-radius:3px;" placeholder="搜索通用塑料" />
                            </div>
                        </div>
                    </div>
                    <ul data-type="2" class="search_item_contentList" data-typename="通用塑料">
                        <li data-guid="" data-value="0" class="active">全部</li>
                        @if (company.Tables.Contains("ds") && company.Tables[0].Rows.Count > 0)
                        {
                            for (var i = 0; i < company.Tables[0].Rows.Count; i++)
                            {
                                <li data-guid="1" @(i > 12 ? "class=none name=cailiaotype_2" : "") data-value="@company.Tables[0].Rows[i]["Name"].ToString()">@company.Tables[0].Rows[i]["Name"].ToString()</li>
                            }
                        }
                    </ul>
                </div>
                <div class="search-item-btn" data-type="2" data-typename="通用塑料" style="width:75px;">更多 ∨</div>
            </div>

            <div class="search-item">
                <div class="search-item-type" style="background:#f2f2f2;text-align: center;margin-right: 10px;color: #333333;width:100px;font-size:14px;height:30px;">工程塑料 :</div>
                <div class="search-item-content3" style="max-height:none;overflow-y:hidden;">
                    <div id="search_3" style="width:100%;height:50px;border-bottom:1px solid #f2f2f2;display:none;">
                        <div style="width:500px;height:50px;float:right;margin-left:100px;">
                            <div style="width:80px;height:30px;margin-left:15px; background:#1593ff;text-align:center;line-height:30px;margin-top:5px;border-radius:5px;font-size:12px;color:#ffffff;float:right;cursor:pointer;">
                                搜索
                            </div>
                            <div style="width:200px;height:30px;margin-top:5px;float:right;">
                                <input type="text" id="classkey" style="width:200px;height:30px;line-height:30px;text-indent:5px;border:1px solid #cccccc;border-radius:3px;" placeholder="搜索工程塑料" />
                            </div>
                        </div>
                    </div>
                    <ul data-type="3" class="search_item_contentList" data-typename="工程塑料">
                        <li data-guid="" data-value="0" class="active">全部</li>
                        @if (company.Tables.Contains("ds") && company.Tables[0].Rows.Count > 0)
                        {
                            for (var i = 0; i < company.Tables[0].Rows.Count; i++)
                            {
                                <li data-guid="1" @(i > 12 ? "class=none name=cailiaotype_3" : "") data-value="@company.Tables[0].Rows[i]["Name"].ToString()">@company.Tables[0].Rows[i]["Name"].ToString()</li>
                            }
                        }
                    </ul>
                </div>
                <div class="search-item-btn" data-type="3" data-typename="工程塑料" style="width:75px;">更多 ∨</div>
            </div>*@

        </div>
        @*<div style="width:100%;height:50px; background:#f2f2f2;margin-top:20px;">
                <div style="width:250px;height:50px;background:#278cd2; text-align:center;font-size:16px;color:#ffffff;line-height:50px;">
                    已选条件
                </div>
            </div>
            <div style="width:100%;height:auto;min-height:100px;padding: 10px 25px; margin-bottom:20px;">
                <div style="width:auto;min-width:80px;max-width:150px; height:auto;min-height:30px; background:#f2f2f2;text-align:center;padding-left:10px;padding-right:10px;font-size:12px;color:#666666;line-height:30px;float:left;margin-left:10px;margin-top:10px;">
                    材料类别：ABS
                    <i class="iconfont suyiguanbi" v-bind:id="vi.name" onclick="deleteitem(this)" style="color:red;font-size:14px; margin-left:5px;float:right;cursor:pointer;"></i>
                </div>
                <div style="width:auto;min-width:80px;max-width:150px; height:auto;min-height:30px; background:#f2f2f2;text-align:center;padding-left:10px;padding-right:10px;font-size:12px;color:#666666;line-height:30px;float:left;margin-left:10px;margin-top:10px;">
                    工程塑料：ABS
                    <i class="iconfont suyiguanbi" v-bind:id="vi.name" onclick="deleteitem(this)" style="color:red;font-size:14px; margin-left:5px;float:right;cursor:pointer;"></i>
                </div>
            </div>*@
    </div>
    <div v-if="selectitemlist.length>0" style="width:100%;height:auto;height:70px;">
        <div class="mainwidth" style="height:auto; margin:0 auto;height:70px;border:1px solid #dddddd;">
            <div style="width:100%;height:40px;">
                <div style="height:40px;line-height:40px; color:#0094ff;font-weight:700;letter-spacing:1px;text-indent:15px;font-size:16px;float:left;">已选择条件：</div> 
                <div v-for="(vs,index) in selectitemlist" style="height:30px;min-width:60px; text-align:center;line-height:26px;font-size:14px;color:#0094ff;border:1px solid #dddddd;border-radius:5px;float:left;margin-left:25px;margin-top:15px;padding-left:10px;">
                    {{vs.ParnetName}}：{{vs.Name}}<i v-bind:id="index" onclick="deleteselectitem(this)" class="iconfont suyiguanbi" style="float:right;margin-left:15px;margin-top:-7px;cursor:pointer;color:#ff4200;"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="mainwidth" style="height:auto;min-height:200px;margin:20px auto;border:1px solid #dddddd;">
        <div style="width:99%;height:60px;margin:0 auto;margin-top:10px; background:#f2f2f2;">
            <div style="width:100px;height:60px;line-height:60px;font-size:16px;text-align:center;color:#278cd2;border-right:1px solid #ffffff;float:left;cursor:pointer;">
                综合排序
            </div>
            <div style="width:80px;height:60px;line-height:60px;font-size:16px;text-align:center;color:#333333;border-right:1px solid #ffffff;float:left;cursor:pointer;">
                供货量
            </div>
            <div style="width:80px;height:60px;line-height:60px;font-size:16px;text-align:center;color:#333333;border-right:1px solid #ffffff;float:left;cursor:pointer;">
                价格∨
            </div>
            <div style="width:200px;height:60px;line-height:60px;float:left;margin-left:15px;">
                <input type="text" style="width:80px;height:30px;margin-top:15px;line-height:30px;text-align:center;font-size:10px;float:left;" placeholder="￥输入价格" />
                <div style="width:10px;height:60px;line-height:60px;text-align:center;float:left;">-</div>
                <input type="text" style="width:80px;height:30px;margin-top:15px;line-height:30px;text-align:center;font-size:10px;float:left;" placeholder="￥输入价格" />
            </div>
            <div style="width:50%;height:60px;float:right;">
                <div style="width:30%;height:60px;float:right;">
                    <div style="width:70%;height:35px;line-height:35px;text-align:center;float:left;margin-top:12px;">
                        <span id="shartPrice" class="fa fa-search search-icon search-icon-orange" style="float:left;position:relative;margin-left:10px;border-radius:3px;">价格搜索</span>
                    </div>
                </div>
                <div style="width:60%;height:60px;float:right;">
                    <input id="ProdcutModle" type="text" style="width:80%;height:40px;float:right; margin-top:10px;line-height:40px;text-align:left;text-indent:5px; font-size:12px;color:#666666;" placeholder="请输入任意塑料类型、型号、厂家、性能、用途!" />
                </div>
            </div>
        </div>
        <div style="width:99%;height:380px;margin:10px auto;border:1px solid #dddddd;">
            <div id="PriceListHTMLs" style="width:100%;height:330px;float:left;margin-top:10px;">
                @*<div class="listitem">
                        <div class="itembox">
                            <div class="itemtitle">ABS|台湾台化</div>
                            <div class="itemclass">AG15A1</div>
                            <div class="itemzd">
                                <span class="fa fa-arrow-down text-green" style="margin-left: 8px;"></span>
                                <span class="text-green">52.0</span>
                            </div>
                        </div>
                    </div>*@
            </div>
            @*<div class="item-left">
                    <ul id="PriceListHTML">

                    </ul>
                    <ul>
                        <li class="page" id="Pagination" style="border:none;">
                            <span>上一页</span><span>下一页</span>
                        </li>
                    </ul>
                </div>*@
            <div style="width:100%;height:50px;clear:both;">
                <div class="item-left">
                    @*<ul id="PriceListHTML"></ul>*@
                    <ul>
                        <li class="page" id="Pagination" style="border:none;float:right;">
                            <span>上一页</span><span>下一页</span>
                        </li>
                    </ul>
                </div>
                @*<ul>
                        <li id="Pagination" style="width:300px;float:right;margin-right:100px;">
                            <span id="uppage">
                                <i class="fa fa-chevron-left fa-lg" style="font-size:10px;"></i>上一页
                            </span>
                            <span id="dowpage" style="margin-left:20px;">
                                下一页<i class="fa fa-chevron-right fa-lg" style="font-size:10px;margin-left:5px;"></i>
                            </span>
                        </li>
                    </ul>*@
            </div>
        </div>

        <div style="width:99%;height:auto;min-height:200px;margin:20px auto;">
            <div class="item-right" style="width:100%;margin:0 auto;">
                <div>
                    <span class="title">价格趋势</span>
                    <div class="right" style="padding-top: 7px;">
                        <span>开始时间：</span><input type="text" id="beginDate" class="input">
                        <span style="margin-left: 8px;">结束时间：</span>
                        <input type="text" id="endDate" class="input">
                        <button id="PriceDateSharet" class="btn_price" style="border-radius:0px; height:26px; line-height:26px;" type="button">查询</button>
                        <!--<a class="btn btn-red" style="margin-left: 5px;">查询</a>-->
                    </div>
                </div>
                <div>
                    <span class="Txt_SmallClass"></span> | <span class="Txt_Model"></span><input type="hidden" id="ProductGuid" value="" />&nbsp;
                    <button title="订阅后可跟踪该产品价格动态" id="QuotationBtn" style="border-radius:0px; height:30px; line-height:30px;" class="btn_price" type="button">订阅行情</button>
                </div>
                <div style="color: #777;border-bottom: 1px solid #ddd;padding-bottom: 8px">
                    <span class="fa fa-check-square"></span>加入价格对比 <span class="fa fa-square" style="margin-left: 15px;"></span>显示上游原料价格
                    <a style="margin-left: 15px;color:#0098dc;" href="javascript:void(0)">查看物价表</a>
                    <div class="right">
                        <div class="day">
                            <span class="left active" Number="7" style="border-right: 1px solid #ddd;">近七天</span><span style="border-right: 1px solid #ddd;" Number="30">近一月</span><span class="right" Number="180">近半年</span>
                        </div>
                    </div>
                </div>
                <div id="chart1" style="height: 419px;width: 100%;">

                </div>
                <div style="text-align: center;">
                    <span>牌号：<span class="Txt_SmallClass"></span></span><span>厂家：<span class="Txt_Manufacturer"></span></span>
                </div>
                <div class="footer">
                    免责声明：参考价格是塑料网根据网络大数据分析的结果，仅供参考，实际成交价取决但不限于以下因素：下单时间、交货方式、付款方式、数量、税费、色号、产地、项目信息等。
                </div>
            </div>
        </div>

    </div>

</div>


@*<div class="search-item-box" style="clear:both;">
        <div class="search-item">
            <div class="search-item-type">材料类别：</div>
            <div class="search-item-content3">
                <ul data-type="1" class="search_item_contentList" data-typename="材料类别">
                    <li data-guid="" data-value="0" class="active">全部</li>
                    @if (company.Tables.Contains("ds") && company.Tables[0].Rows.Count > 0)
                    {
                        for (var i = 0; i < company.Tables[0].Rows.Count; i++)
                        {
                            <li data-guid="1" @(i > 12 ? "class=none name=cailiaotype_1" : "") data-value="@company.Tables[0].Rows[i]["Name"].ToString()">@company.Tables[0].Rows[i]["Name"].ToString()</li>
                        }
                    }
                </ul>
            </div>
            <div class="search-item-btn" data-type="1" data-typename="材料类别">更多 ∨</div>
        </div>
        <div class="search-item">
            <div class="search-item-type">厂家选择：</div>
            <div class="search-item-content3">
                <ul data-type="4" class="search_item_contentList" data-typename="生产厂家">
                    <li data-guid="" data-value="0" class="active">全部</li>
                    @if (company.Tables.Contains("ds1") && company.Tables[1].Rows.Count > 0)
                    {
                        for (var i = 0; i < company.Tables[1].Rows.Count; i++)
                        {
                            <li data-guid="4" @(i > 12 ? "class=none name=cailiaotype_4" : "") data-value="@company.Tables[1].Rows[i]["Name"].ToString()">@company.Tables[1].Rows[i]["Name"].ToString()</li>
                        }
                    }
                </ul>
            </div>
            <div class="search-item-btn" data-type="4" data-typename="生产厂家">更多 ∨</div>
        </div>
    </div>
    <div style="width: 100%;padding: 10px 25px;"><b>检索：</b><input type="text" id="ProdcutModle" class="input2" placeholder="请输入材料类别，厂家，产品型号" style="width:50%;" maxlength="20" /><button id="shartPrice" style="border-radius:0px; height:30px; line-height:30px;" class="btn_price" type="button">搜索</button></div>
    <div class="marginTop" style="margin-top: 0;padding-top: 0;">
        <div class="item-left">

            <ul id="PriceListHTML"></ul>
            <ul>
                <li class="page" id="Pagination">
                    <span>上一页</span><span>下一页</span>
                </li>
            </ul>
        </div>
        <div class="item-right">
            <div>
                <span class="title">价格趋势</span>
                <div class="right" style="padding-top: 7px;">
                    <span>开始时间：</span><input type="text" id="beginDate" class="input">
                    <span style="margin-left: 8px;">结束时间：</span>
                    <input type="text" id="endDate" class="input">
                    <button id="PriceDateSharet" class="btn_price" style="border-radius:0px; height:26px; line-height:26px;" type="button">查询</button>
                </div>
            </div>
            <div>
                <span class="Txt_SmallClass"></span> | <span class="Txt_Model"></span><input type="hidden" id="ProductGuid" value="" />&nbsp;
                <button title="订阅后可跟踪该产品价格动态" id="QuotationBtn" style="border-radius:0px; height:30px; line-height:30px;" class="btn_price" type="button">订阅行情</button>
            </div>
            <div style="color: #777;border-bottom: 1px solid #ddd;padding-bottom: 8px">
                <span class="fa fa-check-square"></span>加入价格对比 <span class="fa fa-square" style="margin-left: 15px;"></span>显示上游原料价格
                <a style="margin-left: 15px;color:#0098dc;" href="javascript:void(0)">查看物价表</a>
                <div class="right">
                    <div class="day">
                        <span class="left active" Number="7" style="border-right: 1px solid #ddd;">近七天</span><span style="border-right: 1px solid #ddd;" Number="30">近一月</span><span class="right" Number="180">近半年</span>
                    </div>
                </div>
            </div>
            <div id="chart1" style="height: 419px;width: 100%;">

            </div>
            <div style="text-align: center;">
                <span>牌号：<span class="Txt_SmallClass"></span></span><span>厂家：<span class="Txt_Manufacturer"></span></span>
            </div>
            <div class="footer">
                免责声明：参考价格是塑料网根据网络大数据分析的结果，仅供参考，实际成交价取决但不限于以下因素：下单时间、交货方式、付款方式、数量、税费、色号、产地、项目信息等。
            </div>
        </div>
    </div>*@

@Scripts.Render("~/PriceJS/PrcJS");
@Html.Partial("~/Views/Public/Bottom.cshtml")

