@{ViewBag.Title = "塑料和弹性体-材料替换";
    var PhysicalData = ViewBag.PhysicalInfo == null ? new System.Data.DataTable() : ViewBag.PhysicalInfo as System.Data.DataTable;
    var bigName = string.Empty;
    var samllName = string.Empty;
    var count = 0;
    }

<style type="text/css">
    a {
        color: #000;
        text-decoration: none;
    }

    .search-common-item {
        font-size: 12px;
        padding: 4px 10px;
        color: #777;
    }

    .cell-title {
        min-width: 38%;
        max-width: 38%;
        background-color: transparent;
    }

    .contrast_remark {
        padding: 12px 20px;
        background-color: #fff;
    }

    .table-contrast {
        background-color: #fff;
    }

    .fa {
        font-size: 16px;
    }

    .fa-check-square-o {
        color: #f95c00;
    }

    .inputClass {
        border: solid 1px #ddd;
        height: 27px;
        line-height: 27px;
        width: 100%;
    }

    .item-left {
        width: 78%;
        padding: 15px 10px;
        box-sizing: border-box;
    }

    .icon-cycle-box {
        display: inline-block;
        border: 2px solid orange;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 12px;
        text-align: center;
        color: red;
    }

        .icon-cycle-box > .fa {
            line-height: 16px;
            font-size: 12px;
        }

    .l, .f-l {
        float: left !important;
        _display: inline;
        font-size: 13px;
    }

    .r, .f-r {
        float: right !important;
        _display: inline;
    }

    .bold {
        font-weight: bold;
        padding: 8px 0;
        border-bottom: 2px solid orange !important;
        color: #009887 !important;
        background: #e1e1e1;
    }
    .tabTitle {
        height: 40px;
        line-height: 40px;
        min-width: 65px;
        vertical-align: middle;
        font-size: 14px;
        transition: all .2s;
        -webkit-transition: all .2s;
        position: relative;
        line-height: 40px;
        padding: 0 15px;
        text-align: center;
        cursor: pointer;
        float: left;
        color: #808080;
    }

    .checkedtitle .active {
        background-color: #fff;
        color: #000;
    }

    .borderfiter {
        border: solid 1px #f2f2f2;
    }

    .checkedtitle {
        background: #f2f2f2;
    }

    .none {
        display: none;
    }
    .ButCheckBox {
        border: solid 1px #CCCCCC;
        height: 20px;
        width: 20px;
        color: #CCCCCC;
        outline: none;
    }
    .xiangshidu a{
        color:#000;
    }
        .xiangshidu a:hover {
            color:#f95c00;
        }
</style>
@Html.Partial("~/Views/Public/SubPageNav.cshtml")
@{
    Html.RenderAction("PubSearch", "Public");
}
<link href="~/Content/css/Pagination.css" rel="stylesheet" />
<script src="~/Content/layui/lay/modules/layer.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.pagination.js" type="text/javascript"></script>
<!--卿思明:
产品说明；注射;注射说明;备注   这些都不参与对比
，说明，加工方法，备注不允许选择-->
<!--总体参与对比的有（（RoHS 合规性；供货地区；加工方法；树脂ID (ISO 1043)；特性；添加剂；填料/增强材料；用途 ）这个是总体里要参与对比的）-->
<div style="font-size: 14px;">
    <p class="contrast_remark" style="text-align: center;"><span style="font-size: 18px;">选中的型号：<span><a href='/Product/Index' style='color:#FF9933'>@Html.Raw(ViewBag.ProModel)</a></span><input name="" id="ProductGuid" type="hidden" value="@ViewBag.ProGuid" /></span><a class="btn btn-green" id="btn_contrast" style="float: right;margin-top: -5px;" onclick="submitContert();">提交对比</a></p>
    <p class="contrast_remark" style="border-bottom-color:#ccc;padding-right: 0;font-weight:700;">
        <table width="100%" border="0" style="height:45px; line-height:45px; font-weight:700;" cellspacing="0" cellpadding="0">
            <tr>
                <td width="20%" align="center">选择你需要对比的参数：</td>
                <td width="55%;" align="center">&nbsp;</td>
                <td width="10%" align="center">权重[1-100]</td>
                <td width="10%" align="center"  ><label>比较选择项：<input type="checkbox" id="checkbox-new" align="absmiddle" class="ButCheckBox" name="checkbox-new" checked="checked" /></label></td>
            </tr>
        </table>
    </p>

    <div class="borderfiter">
        <div class="checkedtitle">
            <div class="tabTitle active">对比参数</div>
            <div class="tabTitle">吻合结果</div>
            <div style="clear:both;"></div>
        </div>
        <div class="tabBody">
            <table class="table-list" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    @foreach (System.Data.DataRow dr in PhysicalData.Rows)
                    {
                        count++;
                        <tr class="@(dr["lev"].ToString() == "1" ? "bold" : "pl-10")">
                            <td>
                                @if (dr["lev"].ToString() == "1")
                                {
                                    bigName = dr["Attribute1"].ToString();
                                }
                                else
                                {
                                    samllName = dr["Attribute1"].ToString();
                                }

                                @{ int paddleft = 0;
                                    int.TryParse(dr["lev"].ToString(), out paddleft);
                                    paddleft = paddleft * 10;}
                                <div class="f-l" style="width:15%;"><span style="margin-right:5px; padding-left:@(paddleft)px;">@dr["Attribute1"].ToString()</span></div>
                                <div class="f-l" style="width:15%;">
                                    &nbsp;@dr["Attribute2"].ToString()
                                </div>
                                <div class="f-l" style="width:25%;">&nbsp;@dr["Attribute3"].ToString()</div>
                                <div class="f-l" style="width:25%;">
                                    &nbsp; @dr["Attribute4"].ToString()
                                </div>
                                @if (dr["lev"].ToString() == "2")
                                {
                                    <div class="f-l" style="width: 10%; text-align:center;"><input name="weight" bigName="@bigName" samllName="@samllName" id="weight_@count" class="inputClass" placeholder="请必须输入权重分" onkeyup="value=value.replace(/[^\-?\d.]/g,'')" type="text" /></div>
                                    <div class="f-l" style="width: 10%; text-align:center;"><input type="checkbox" class="ButCheckBox" bigName="@bigName" samllName="@samllName" value="@count" name="check-box" checked="checked" /></div>
                                }


                                <div class="clear"></div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tabBody none">
            <span id="records"></span>
            <div class="search-content">
                <table class="table-list">
                    <thead>
                        <tr style="height:35px; line-height:35px;">
                            <th>牌号</th>
                            <th>类别</th>
                            <th>相似度值</th>
                        </tr>
                    </thead>
                    <tbody id="DataList">
                        <tr>
                            <td colspan="3" align="center">对比后显示吻合数据信息！</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="black2" id="Pagination"></div>
        </div>

    </div>


</div>
<script type="text/javascript">
    $(function () {
        $(".navBox").find(".nav").find("li").eq(3).children("a").addClass("active");
        $("div[name='isHideDiv']").parent().parent().remove();//删除单行数据
    })
    ///查询数据
    var pagesize = 20;
    var rowcount = 0;
    var datas = "";
    var page_indx = 0;
    var guidstr = guid();
    //string WhereString = "{物理性能=)密度=>10}{机械性能=)伸长率=>10}{物理性能=)熔流率=>15}{可燃性=)阻燃等级=>15}";
    //提交对比
    function submitContert() {
        guidstr = guid();
        SubmitComparison(0);
    }
    ///提交对比
    function SubmitComparison(pageindx) {
        page_indx = pageindx;
        var proid = $("#ProductGuid").val();
        var chaeckvalue = "";
        var tbodyui = "";
        var isinput = true;
        var WhereString = "";
        for (var i = 0; i < $("input[name='check-box']").length; i++) {
            if ($("input[name='check-box']").eq(i).is(":checked")) {
                var inputid = $("input[name='check-box']").eq(i).val();
                if ($.trim($("#weight_" + inputid).val()) == "" || $.trim($("#weight_" + inputid).val()) == "0" || parseInt($.trim($("#weight_" + inputid).val()))>100) {
                    layer.msg('请输入权重值，并且 大于0小于等于100', { icon: 5 });
                    $("#weight_" + inputid).focus();
                    return false;
                    break;
                }
            }
        }
        $.each($("[name='check-box']"), function (index, item) {
            if ($(this).is(":checked")) {
                var idx = $(this).val();
                if ($.trim($("#weight_" + idx).val()) != "") {
                    WhereString += "{" + $(this).attr("bigname") + "=)" + $(this).attr("samllname") + "=>" + $.trim($("#weight_" + idx).val())+"}";
                }
            }
        })
       // WhereString = "{物理性能=)密度=>10}{机械性能=)伸长率=>10}";
        if (WhereString == "") {
            layer.msg('请选择对比项!', { icon: 5 });
            return false;
        }
        //alert(WhereString);
        //return false;
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: '/Replace/GetReplaceList',
            data: "pageindex=" + (pageindx + 1) + "&pagesize=" + pagesize + "&guidstr=" + guidstr + "&proid=" + proid + "&WhereString=" + WhereString +  datas,
            async: false,
            success: function (json) {
                 debugger;
                if (json.msg == "") {
                    var productData = json.data;
                    var rowcount = json.count;
                    if (rowcount != 0 && productData != "") {
                        $.each(JSON.parse(productData), function (i, n) {
                            //alert(n);
                            tbodyui += "<tr style='height:30px;line-height:30px;'>";
                            tbodyui += "<td class='xiangshidu'><a href='/PhysicalProducts/Detail/" + n.ProductId + ".html' target=\"_blank\">" + n.ProModel + "</a></td>";
                            tbodyui += "<td>" + n.ShortName + "</td>";
                            tbodyui += "<td>" + n.ALikePercent + "</td>";
                            tbodyui += "</tr>";
                        });
                    }
                    else {
                        tbodyui += "<tr>";
                        tbodyui += "<td colspan=\"3\" align=\"center\" class='red'>未找到数据</td>";
                        tbodyui += "</tr>";
                    }
                    $("#DataList").html(tbodyui);
                    tablReplace(1);
                }
                else {
                    layer.msg(json.msg, { icon: 5 });
                }
               

            },
            error: function () { layer.msg('Load the data failure!', { icon: 5 }); }
        });

        $("#Pagination").pagination(rowcount, {
            callback: pageselectCallback,
            prev_text: '上一页',
            next_text: '下一页',
            items_per_page: pagesize,
            num_display_entries: 8,
            current_page: pageindx,
            num_edge_entries: 1
        });
        $("html, body").stop().animate({ scrollTop: $("#records").offset().top - 200 }, 400);
        
    }

    function pageselectCallback(page_id, jq) {
        InitData(page_id);
    }

    //选项卡
    $(".tabTitle").click(function () {
        var idx = $(this).index();
        tablReplace(idx);
    })

    //切换
    function tablReplace(idx) {
        $.each($(".tabTitle"), function (index, item) {
            $(this).removeClass("active");
        })
        $.each($(".tabBody"), function (index, item) {
            $(this).removeClass("none").addClass("none");
        })
        $(".tabTitle").eq(idx).addClass("active");
        $(".tabBody").eq(idx).removeClass("none");
    }

    //全选
    //$(".check-box").find("i").find("input[name='checkbox-new']").click(function () {
    //    alert("调用");
    //    if ($(this).is(":checked")) {
    //        $.each($("input[name='check-box']"), function (index, item) {
    //            $(this).attr("checked", true);
    //        })
    //    }
    //    else {
    //        $.each($("input[name='check-box']"), function (index, item) {
    //            $(this).attr("checked", false);
    //        })
    //    }
    //})

    $("#checkbox-new").click(function () {
        if ($(this).is(":checked")) {
           // alert("yes")
            $.each($("input[name='check-box']"), function (index, item) {
                $(this).prop("checked", true);
            })
        }
        else {
          //  alert("no")
            $.each($("input[name='check-box']"), function (index, item) {
                $(this).prop("checked", false);
            })
        }
       
    }) 


</script>
@Html.Partial("~/Views/Public/Bottom.cshtml")