@{
    var all = (ViewBag.allData) as System.Data.DataTable;
}
<style type="text/css">
    .panding td {
        padding:5px;
    }
</style>
<link href="~/Content/css/H-ui.min.css" rel="stylesheet" />
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<div style="margin:40px;" >
            <table  class="table table-border table-bordered">
                <thead>
                    <tr style="height:35px; line-height:35px; font-size:14px;">
                        <th width="30%">分类</th>
                        <th width="30%">属性</th>
                        <th width="20%">相似度</th>
                    </tr>
                </thead>
                <tbody style="font-weight:normal;">
                    @for (var i = 0; i < all.Rows.Count; i++)
                    {
                        <tr style="height:35px; line-height:35px;">
                            <th style="padding:0px 5px;">@(all.Rows[i]["Attribute1"].ToString())</th>
                            <th style="padding:0px 5px;">@(all.Rows[i]["Attribute2"].ToString())</th>
                            <th style="padding:0px 5px;"><div class="layui-progress layui-progress-big" lay-showpercent="true"><div class="layui-progress-bar" lay-percent="@(all.Rows[i]["AlikePercent"].ToString())" style="width:@(all.Rows[i]["AlikePercent"].ToString());"><span class="layui-progress-text">@(all.Rows[i]["AlikePercent"].ToString())</span></div></div></th>
                            @*<th  style="padding:0px 5px;"><div class="layui-progress layui-progress-big" lay-showpercent="true"><div class="layui-progress-bar" lay-percent="@(all.Rows[i]["AttributeValueResult"].ToString())%" style="width:@(all.Rows[i]["AttributeValueResult"].ToString())%;"><span class="layui-progress-text">@(decimal.Round(decimal.Parse(all.Rows[i]["AttributeValueResult"].ToString()), 2))%</span></div></div></th>*@
                        </tr>
                    }
                    </tbody>
            </table>
    
</div>

