@{
    ViewBag.Title = "塑料和弹性体-替换列表";
    var company = (ViewBag.company) as System.Data.DataTable;
    }
<link href="~/Content/css/Pagination.css" rel="stylesheet" />
<script src="~/Content/layui/lay/modules/layer.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.pagination.js" type="text/javascript"></script>
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<style type="text/css">
    .btn {
        border-radius:0px !important;
    }
</style>
@Html.Partial("~/Views/Public/SubPageNav.cshtml")
@{
    Html.RenderAction("PubSearch", "Public");
}



<div class="search-item-box">

    <Div style="font-size:26px; font-weight:bold; color:#333;  text-align: center;">可替代 ( @ViewBag.ProModel ) 的牌号列表</Div>

    <div class="search-item">

        <div class="search-item-content">
            <ul class="search-item-content">
                <li style="font-size:16px; font-weight:bold; color:#F60">是否过滤掉同 SINDUSTRISPP 品牌下的替代物:</li>
                <li><input name="" type="radio" value="">过滤</li>
                <li><input name="" type="radio" value="">不过滤</li>
                <li> <!--<a class="btn btn-orange btn-sm">用户自定义权重</a>--><button class="layui-btn layui-btn-sm" onclick="window.location.href='/Replace/Index?Rpt=@ViewBag.ProGuid'">自定义权重</button></li>
            </ul>
        </div>

    </div>
    <div class="search-item">
        <div class="search-item-type">生产厂商：</div>
        <div class="search-item-content" style="height: auto;">
            <ul>
                <li class="active">全部</li>
                @for (var i = 0; i < company.Rows.Count; i++)
                {
                    <li data-guid="@company.Rows[i]["SmallGuid"].ToString()" data-value="@company.Rows[i]["Name"].ToString()">@company.Rows[i]["Name"].ToString()</li>
                }
            </ul>
        </div>
        <!--∧-->
        <div class="search-item-btn">展开 ∨</div>
    </div>


    <p>  <hr style="color:#F60"></p>
</div>

<div class="search-content-box">
    <div style=" display:inline; padding-left:30px; "><!--<a class="btn btn-orange btn-sm">物性对比</a> --><button class="layui-btn layui-btn-danger">物性对比</button></div>
    <div style=" display:inline; "><!--<a class="btn btn-orange btn-sm" style=" background-color:#0C6">添加到收藏夹</a>--><button class="layui-btn">添加到收藏夹</button></div>
    <div style=" display:inline;float:right; margin-right:20px ">
        共搜索到<span style="color: red;" id="records"></span>条相关商品信息
    </div>
    <div class="search-content">
        <table>
            <thead>
                <tr>
                    <th width="10%">选取</th>
                    <th width="25%">牌号</th>
                    <th width="25%">厂商</th>
                    <th width="25%">相似度</th>
                    <th width="15%">操作</th>
                </tr>
            </thead>
            <tbody id="DataList">

      
             
            </tbody>
        </table>
    </div>
</div>
<div class="black2" id="Pagination">

</div>

@Html.Partial("~/Views/Public/Bottom.cshtml")
<script type="text/javascript">
    ///查询数据
    var pagesize = 20;
    var rowcount = 0;
    var datas = "";
    var page_indx = 0;
    var guidstr = guid();
    var isLink = "0";
    var proid = "@ViewBag.ProGuid";
    var WhereString = "@Html.Raw(ViewBag.WhereString)";
    $().ready(function () {
        guidstr = guid();
        SubmitComparison(0);
    });
 
    ///提交对比
    function SubmitComparison(pageindx) {
        page_indx = pageindx;
        var chaeckvalue = "";
        var tbodyui = "";
        var isinput = true;
        if (proid == "" || WhereString == "") {
            layer.msg('请先选择产品和参数!', { icon: 5 });
            return false;
        }
     
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: '/Replace/GetReplaceList',
            data: "pageindex=" + (pageindx + 1) + "&pagesize=" + pagesize + "&guidstr=" + guidstr + "&proid=" + proid + "&isLink=" + isLink + "&WhereString=" + WhereString + datas,
            async: false,
            success: function (json) {
              //  debugger;
                if (json.msg == "") {
                    var productData = json.data;
                    rowcount = json.count;
                    $("#records").html(rowcount);
                    if (rowcount != 0 && productData != "") {
                        $.each(JSON.parse(productData), function (i, n) {
                            //alert(n);
                            tbodyui += "<tr style='height:30px;line-height:30px;'>";
                            tbodyui += "<td><input type=\"checkbox\" name=\"checkbox\" id=\"checkbox_" + n.ProductId +"\"></td>";
                            tbodyui += "<td class='xiangshidu'><a href='/PhysicalProducts/Detail/" + n.ProductId + ".html' target=\"_blank\">" + n.ProModel + "</a></td>";
                            tbodyui += "<td>" + n.ShortName + "</td>";
                            tbodyui += "<td><div class=\"layui-progress layui-progress-big\" lay-showpercent=\"true\"><div class=\"layui-progress-bar\" lay-percent=\"" + parseInt(n.ALikePercent) + "%\" style=\"width:" + parseInt(n.ALikePercent) + "%;\"><span class=\"layui-progress-text\">" + n.ALikePercent + "%</span></div></div></td>";
                            tbodyui += "<td><a class=\"btn btn-orange btn-sm\" onClick=\"window.location.href='/PhysicalProducts/Detail/" + n.ProductId + ".html'\">查看对比详情</a></td>";//<button class=\"layui-btn layui-btn-normal\" onClick=\"window.location.href='/PhysicalProducts/Detail/" + n.ProductId + ".html'\">相识度详情</button><button class=\"layui-btn layui-btn-normal\">加入收藏</button>
                            tbodyui += "</tr>";
                        });
                    }
                    else {
                        tbodyui += "<tr>";
                        tbodyui += "<td colspan=\"5\" align=\"center\" class='red'>未找到数据</td>";
                        tbodyui += "</tr>";
                    }
                    $("#DataList").html(tbodyui);
                }
                else {
                    layer.msg(json.msg, { icon: 5 });

                }


            },
            error: function () { layer.msg('Load the data failure!', { icon: 5 }); }
        });

        $("#Pagination").pagination(rowcount, {
            callback: pageselectCallback,
            prev_text: '上一页',
            next_text: '下一页',
            items_per_page: pagesize,
            num_display_entries: 8,
            current_page: pageindx,
            num_edge_entries: 1
        });
        $("html, body").stop().animate({ scrollTop: $("#records").offset().top - 200 }, 400);

    }

    function pageselectCallback(page_id, jq) {
        isLink = "1";
        SubmitComparison(page_id);
    }

</script>

