<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 塑蚁网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="@ViewBag.keywords" name="keywords" />
    <meta content="@ViewBag.DescCentent" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js" type="text/javascript"></script>
    @Styles.Render("~/GetContent/CommonCss")
    @Scripts.Render("~/GetContent/CommonJS")
    <link href="~/Content/css/iconfont/iconfont.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()
</body>
</html>
@Scripts.Render("~/GetButtom/FootJS")
@RenderSection("scripts", required: false)