@{
    Layout = null;
    var blist = ViewBag.blist as List<PlasModel.Ul_HeadModel>;
}
<link href="~/Content/css/H-ui.min.css" rel="stylesheet" />
<style type="text/css">
    .Ultitle td {
        font-size: 14px;
        background: #be0f34;
        color: #fff;
    }
</style>
<div style="margin:20px;">
    <table class="table table-border table-bordered table-hover" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="Ultitle">
                <td>黄卡UL</td>
                <td>型号</td>
                <td>厂家</td>
                <td>种类</td>
            </tr>
        </thead>
        <tbody>
            @if (blist.Count > 0)
            {
                foreach (var item in blist)
                {
                    <tr  onclick="showUlmsgpdf('@item.NumberId')" style="cursor:pointer;">
                        <td>@item.FileNumber</td>
                        <td>@item.Serires</td>
                        <td>@item.Category</td>
                        <td title="查看 @(item.Serires + item.Manufactory) UL">@item.Manufactory</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" style="font-size:12px;text-align:center; color:darkred">暂无黄卡信息</td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script src="~/Content/js/jquery-1.11.0.min.js"></script>
<script src="~/Content/layui/lay/modules/layer.js"></script>
<script type="text/javascript">
    ///生成
    function showUlmsgpdf(prodid) {
        window.parent.layer.open({
            type: 2,
            title: '黄卡UL',
            area: ['90%', '90%'],
            content: '/PhysicalProducts/ShowUlPDF?ProductGuid=' + prodid
        }); 

    }
</script>