@{
    Layout = null;
    var clist = ViewBag.clist as List<PlasModel.Ul_bodyModel>;
    var bModel = ViewBag.blist as PlasModel.Ul_HeadModel;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>黄卡UL</title>
    <style type="text/css">
        .title {
            height: 90px;
            background: #be0f34;
        }

        .logimg {
            text-align: center;
        }

        .titleComt {
            font-size: 26px;
            color: #fff;
        }

        .titleCenter {
            font-size: 16px;
            color: #fff;
        }

        tr, td {
            font-size: 12px;
            line-height: 25px;
        }

        .font16 {
            font-size: 16px;
        }

        .trtitle {
            height: 35px;
            line-height: 35px;
            background: #be0f34;
            color: #fff;
        }

        .pand10 {
            padding-left: 10px;
        }

        .pand20 {
            padding-left: 20px;
        }

            .pand20 td:first-child {
                padding-left: 20px;
            }

        .pand30 {
            padding-left: 30px;
        }

            .pand30 td:first-child {
                padding-left: 30px;
            }

        .showlist {
            background: #fffacd;
        }

        .baseTitle {
            font-size: 16px;
            height: 35px;
            line-height: 35px;
        }

        .baseContent {
            line-height: 25px;
        }
    </style>
</head>
<body>
    <table width="90%" border="0" align="center" cellspacing="0" cellpadding="0">
        <tr>
            <td class="title">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="15%" class="logimg" rowspan="2"><img src="~/Content/images/ul_Logo.jpg" style="margin-left:10px;" /></td>
                        <td width="85%" class="titleComt">@bModel.Category</td>
                    </tr>
                    <tr>
                        <td class="titleCenter">File Number : @bModel.FileNumber</td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" style="margin-top:20px;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="85%"><spn class="font16">@bModel.Manufactory</spn><br /> &nbsp;
                        @bModel.Field8
                        </td>
                        <td width="15%" align="right">
                            <img src="~/Content/images/ul_rjus.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <spn class="font16">@bModel.Field10 </spn><br /> &nbsp;
                            @(bModel.Field11.IndexOf("http")>-1?"": bModel.Field11)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:10px 0px;">
                <div style="border:solid 1px #be0f34;">
                    @foreach (var item in clist)
                    {
                        <table width="100%" border="0"  cellspacing="0" cellpadding="0">
                            @if (string.IsNullOrWhiteSpace(item.Attribute2) && string.IsNullOrWhiteSpace(item.Attribute3))
                            {
                                <tr class="trtitle">
                                    <td width="50%" class="pand10">@item.Attribute1</td>
                                    <td width="25%">Value</td>
                                    <td width="25%">Text Method</td>
                                </tr>
                            }
                            else
                            {
                                var className = "pand30";
                                if (string.IsNullOrWhiteSpace(item.Attribute3))
                                {
                                    className = "pand20";
                                }
                                <tr class="showlist @className">
                                    <td width="50%">@(item.Attribute2 + item.Attribute3)</td>
                                    <td width="25%">@(item.Value + item.Unit)</td>
                                    <td width="25%">@item.TestType</td>
                                </tr>
                            }

                        </table>
                    }
                </div>

            </td>
        </tr>
        <tr>
            <td height="20">&nbsp;</td>
        </tr>
        <!--<tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="baseTitle">基于h-ui admin后台管理前端框架模板</td>
                    </tr>
                    <tr>
                        <td class="baseContent">2018年4月19日 - 基于h-ui admin后台管理前端框架模板 基于h-ui前端框架制作绿色的OA后台管理系统模板。页面人口是index.html是采用iframe,必须重index.html进入,不然...</td>
                    </tr>
                </table>

            </td>
        </tr>-->
    </table>

</body>
</html>
