@{
    ViewBag.Title = "塑蚁网-全国最精准永久免费塑胶和助剂材料物性搜索网站";
    var PhysicalData = ViewBag.PhysicalInfo == null ? new System.Data.DataTable() : ViewBag.PhysicalInfo as System.Data.DataTable;
}

<style type="text/css">
    .f-l {
        float: left !important;
        /*_display: inline;*/
        font-size: 14px;
    }
    .linheightcss {
        /*float: left !important;*/
        /*_display: inline;*/
        font-size: 14px;
        line-height: 40px;
        border-bottom: 1px solid #B10820 !important;
        border-top: 1px solid #B10820 !important;
        color: #B10820;
    }
    .hkcss {
        float: left !important;
        font-size: 14px;
        background: #FFFACD;
        border-bottom: 1px solid #DEDEDE;
    }

    .bold {
        /*font-weight: bold;*/
        /*padding: 8px 0;*/
        border: none;
        font-size: 14px;
        color: red !important;
        background: #ffffff;
    }
        .bold td div {
            /*border-bottom: 1px solid #B10820 !important;*/
            /*border-top: 1px solid #B10820 !important;*/
            font-size: 14px;
            height: 40px;
            background: #ffffff;
            color: #B10820;
            /*line-height: 40px;*/
        }
    .pl-10 {
        border:none;
    }
</style>

@*<table class="table-list" border="0" cellspacing="0" cellpadding="0" style="padding-left:40px;padding-right:40px;padding-top:50px; ">
    <tbody>
        <tr>
            <td style="font-size:24px; height:40px; line-height:40px; font-weight:700;color: #B10820; text-align:left;">@(ViewBag.ProModel)</td>
        </tr>
        <tr>
            <td style="font-size:20px; color: #535353; text-align:left;">@(ViewBag.PlaceOrigin)</td>
        </tr>
        <tr>
            <td style="font-size:20px; font-weight:700;color: #B10820; text-align:left;">@(ViewBag.Brand)</td>
        </tr>
        <tr style="height:30px;width:100%;">
            <td>
                <div style="width:100%;height:30px; border-top:1px solid #B10820;border-left:1px solid #B10820; line-height:40px;font-size:18px;margin-bottom:15px; padding-left:10px; color:#B10820;">
                    Technical Data
                </div>
            </td>
        </tr>
            @foreach (System.Data.DataRow dr in PhysicalData.Rows)
            {
                <tr class="@(dr["lev"].ToString() == "1" ? "bold" : "pl-10")">
                    <td>
                        @if (string.IsNullOrWhiteSpace(dr["Attribute2"].ToString()) && string.IsNullOrWhiteSpace(dr["Attribute3"].ToString()) && string.IsNullOrWhiteSpace(dr["Attribute4"].ToString()))
                        {
                            <div class="f-l" style="width:100%;">@dr["Attribute1"].ToString()</div>
                        }
                        else if (string.IsNullOrWhiteSpace(dr["Attribute3"].ToString()) && string.IsNullOrWhiteSpace(dr["Attribute4"].ToString()))
                        {
                            <div class="f-l" style="width:25%;">@dr["Attribute1"].ToString()</div>
                            <div class="f-l" style="width: 75%;">@dr["Attribute2"].ToString()</div>
                        }
                        else if (string.IsNullOrWhiteSpace(dr["Attribute4"].ToString()))
                        {
                            <div class="f-l" style="width: 25%;">@dr["Attribute1"].ToString()</div>
                            <div class="f-l" style="width: 25%;">@dr["Attribute2"].ToString()</div>
                            <div class="f-l" style="width: 50%;">@dr["Attribute3"].ToString()</div>
                        }
                        else
                        {
                            int paddleft = 0;
                            int.TryParse(dr["lev"].ToString(), out paddleft);
                            paddleft = paddleft * 10;
                            <div class="f-l" style="width:25%;"><span style="margin-right:5px; padding-left:@(paddleft)px;">@dr["Attribute1"].ToString()</span></div>
                            <div class="f-l" style="width:25%;">
                                @dr["Attribute2"].ToString()
                            </div>
                            <div class="f-l" style="width:25%;">@dr["Attribute3"].ToString()</div>
                            <div class="f-l" style="width:25%;">
                                @dr["Attribute4"].ToString()
                            </div>

                        }
                        <div class="clear"></div>
                    </td>
                </tr>
            }
    </tbody>
</table>*@
<div  style="width:100%;height:auto;">
    @*<div style="width:90%;height:100px;margin:0 auto;margin-top:50px;">
        <div style="width:100%;height:25px;line-height:25px;font-size:28px;font-weight:900;color: #B10820; text-align:left; ">
            @(ViewBag.ProModel)
        </div>
        <div style="width:100%;height:25px;line-height:25px;font-size:20px;font-weight:800;color: #535353; text-align:left; ">
            @(ViewBag.PlaceOrigin)
        </div>
        <div style="width:100%;height:25px;line-height:25px;font-size:20px;font-weight:800;color: #B10820; text-align:left; ">
            @(ViewBag.Brand)
        </div>
        <div style="width:100%;height:25px; border-top:1px solid #B10820;border-left:1px solid #B10820; line-height:40px;font-size:18px;margin-bottom:15px; padding-left:10px; color:#B10820;">
            Technical Data
        </div>
    </div>*@
    <div style="width:90%;height:auto;min-height:500px;margin:0 auto;color:#333333;">
        <div style="width:95%;margin:0 auto;height:auto;border-top: 1px solid #B10820 !important;">
            @foreach (System.Data.DataRow dr in PhysicalData.Rows)
            {
                if (dr["lev"].ToString().Trim() == "1")
                {
                    if (string.IsNullOrWhiteSpace(dr["Attribute2"].ToString().Trim()) && string.IsNullOrWhiteSpace(dr["Attribute3"].ToString().Trim()) && string.IsNullOrWhiteSpace(dr["Attribute4"].ToString().Trim()))
                    {
                        <div style="width:100%;float:left; height:auto;min-height:40px;font-size:14px;clear:both; ">
                            <div class="linheightcss" style="width:100%;height:auto;min-height:40px;line-height:40px;word-wrap:break-word;padding-left:15px;">@dr["Attribute1"].ToString().Replace(" ", "")</div>
                        </div>
                    }
                    else if (string.IsNullOrWhiteSpace(dr["Attribute3"].ToString()) && string.IsNullOrWhiteSpace(dr["Attribute4"].ToString()))
                    {
                        <div style="width:100%;height:auto;min-height:40px;float:left; border-bottom:1px solid #DEDEDE;clear:both;">
                            <div class="linheightcss" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left; ">
                                @dr["Attribute1"].ToString()
                            </div>
                            <div class="linheightcss" style="width: 75%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left;">
                                @dr["Attribute2"].ToString()
                            </div>
                        </div>
                    }
                    else if (string.IsNullOrWhiteSpace(dr["Attribute4"].ToString()))
                    {
                        <div style="width:100%;height:auto;min-height:40px;border-bottom:1px solid #DEDEDE;clear:both;">
                            <div class="linheightcss" style="width: 25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left;">@dr["Attribute1"].ToString().Replace(" ", "")</div>
                            <div class="linheightcss" style="width: 25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left;">@dr["Attribute2"].ToString().Replace(" ", "")</div>
                            <div class="linheightcss" style="width: 50%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left;">@dr["Attribute3"].ToString().Replace(" ", "")</div>
                        </div>
                    }
                    else
                    {
                        <div style="width:100%;height:auto;min-height:40px;float:left; border-bottom:1px solid #DEDEDE;clear:both;">
                            <div class="linheightcss" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left; ">
                                @dr["Attribute1"].ToString().Replace(" ", "")
                            </div>
                            <div class="linheightcss" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left;">
                                @dr["Attribute2"].ToString().Replace(" ", "")
                            </div>
                            <div class="linheightcss" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left; ">@dr["Attribute3"].ToString().Replace(" ", "")</div>
                            <div class="linheightcss" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left;">
                                @dr["Attribute4"].ToString().Replace(" ", "")
                            </div>
                        </div>
                    }
                }
                else
                {
                    if (dr["lev"].ToString().Trim() == "2" && string.IsNullOrWhiteSpace(dr["Attribute2"].ToString().Trim()) && string.IsNullOrWhiteSpace(dr["Attribute3"].ToString().Trim()) && string.IsNullOrWhiteSpace(dr["Attribute4"].ToString().Trim()))
                    {
                        <div style="width:100%;float:left; height:auto;min-height:40px;font-size:14px;border-bottom:1px solid #DEDEDE;clear:both; ">
                            <div class="@(dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l")" style="width:100%;height:auto;min-height:40px;line-height:40px;word-wrap:break-word;padding-left:15px;">@dr["Attribute1"].ToString().Replace(" ", "")</div>
                        </div>
                    }
                   else if (dr["lev"].ToString().Trim() != "2"&&string.IsNullOrWhiteSpace(dr["Attribute2"].ToString().Trim()) && string.IsNullOrWhiteSpace(dr["Attribute3"].ToString().Trim()) && string.IsNullOrWhiteSpace(dr["Attribute4"].ToString().Trim()))
                    {
                        <div style="width:100%;height:auto;min-height:40px;font-size:14px;clear:both; ">
                            <div class="@(dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l")" style="width:100%;height:auto;min-height:40px;line-height:40px;word-wrap:break-word;padding-left:15px;">@dr["Attribute1"].ToString().Replace(" ", "")</div>
                        </div>
                    }
                    else if (string.IsNullOrWhiteSpace(dr["Attribute3"].ToString()) && string.IsNullOrWhiteSpace(dr["Attribute4"].ToString()))
                    {
                        <div style="width:100%;height:auto;min-height:40px;float:left; border-bottom:1px solid #DEDEDE;clear:both;">
                            <div class="@(dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l")" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left; ">
                                @dr["Attribute1"].ToString()
                            </div>
                            <div class="@(dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l")" style="width: 75%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left;">
                                @dr["Attribute2"].ToString()
                            </div>
                        </div>
                    }
                    else if (string.IsNullOrWhiteSpace(dr["Attribute4"].ToString()))
                    {
                        <div style="width:100%;height:auto;min-height:40px;border-bottom:1px solid #DEDEDE;clear:both;">
                            <div class="@(dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l")" style="width: 25%;line-height:40px;height:auto;min-height:40px;text-indent:15px;float:left;">@dr["Attribute1"].ToString().Replace(" ", "")</div>
                            <div class="@(dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l")" style="width: 25%;line-height:40px;height:auto;min-height:40px;text-indent:15px;float:left;">@dr["Attribute2"].ToString().Replace(" ", "")</div>
                            <div class="@(dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l")" style="width: 50%;line-height:40px;height:auto;min-height:40px;text-indent:15px;float:left;">@dr["Attribute3"].ToString().Replace(" ", "")</div>
                        </div>
                    }
                    else
                    {
                        <div style="width:100%;height:auto;min-height:40px;float:left; border-bottom:1px solid #DEDEDE;clear:both;">
                            <div class="@(dr["lev"].ToString() == "1" ? "linheightcss" : (dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l"))" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left; ">
                                @dr["Attribute1"].ToString().Replace(" ", "")
                            </div>
                            <div class="@(dr["lev"].ToString() == "1" ? "linheightcss" : (dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l"))" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left;">
                                @dr["Attribute2"].ToString().Replace(" ", "")
                            </div>
                            <div class="@(dr["lev"].ToString() == "1" ? "linheightcss" : (dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l"))" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left; ">@dr["Attribute3"].ToString().Replace(" ", "")</div>
                            <div class="@(dr["lev"].ToString() == "1" ? "linheightcss" : (dr["Attribute1"].ToString() == "UL 黄卡 2" || dr["Attribute1"].ToString() == "搜索 UL 黄卡" ? "hkcss" : "f-l"))" style="width:25%;height:auto;min-height:40px;line-height:40px;text-indent:15px;float:left;">
                                @dr["Attribute4"].ToString().Replace(" ", "")
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>