@{
    Layout = null;
    var clist = ViewBag.clist as List<PlasModel.Ul_bodyModel>;
    var bModel = ViewBag.blist as PlasModel.Ul_HeadModel;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>黄卡UL- @(bModel.FileNumber+"-"+bModel.Serires)</title>
    <style type="text/css">
        .title {
            height: 90px;
            background: #be0f34;
        }

        .logimg {
            text-align: center;
        }

        .titleComt {
            font-size: 26px;
            color: #fff;
        }

        .titleCenter {
            /*font-size: 16px;*/
            color: #fff;
        }

            .titleCenter h1, h2 {
                line-height: 35px;
                margin: 0px;
            }

            .titleCenter a {
                color: #fff;
                text-decoration: none;
            }

                .titleCenter a:hover {
                    color: #fff;
                    text-decoration: underline;
                }

        tr, td {
            font-size: 12px;
            line-height: 25px;
        }

        .font16 {
            font-size: 16px;
        }

            .font16 h1, h3 {
                margin: 0px;
                font-weight: normal;
            }

        .message h2, h4 {
            font-weight: normal;
            margin: 0px;
        }

        .trtitle {
            background: #be0f34;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
        }

            .trtitle td {
                font-family: "Segoe UI","Helvetica Neue",sans-serif;
                font-size: 14px;
                color: #fff;
                height: 100%;
                margin: 0;
            }

        .pand10 {
            padding-left: 10px;
        }

        .pand20 {
            padding-left: 20px;
        }

            .pand20 td:first-child {
                padding-left: 20px;
            }

            .pand20 td {
                border-top: solid 1px #be0f34;
            }


        .pand30 {
            padding-left: 30px;
        }

            .pand30 td:first-child {
                padding-left: 30px;
            }

            .pand30 td {
                border-top: solid 1px #ccc;
            }

        .showlist {
            background: #fffacd;
        }

            .showlist td {
                font-family: "Segoe UI","Helvetica Neue",sans-serif;
                font-size: 14px;
                color: #3e3f3a;
                height: 100%;
                margin: 0;
            }

        .baseTitle {
            font-size: 10pt;
            height: 35px;
            line-height: 35px;
        }

        .baseContent {
            line-height: 25px;
        }
    </style>
</head>
<body>
    <table width="90%" border="0" align="center" cellspacing="0" cellpadding="0">
        <tr>
            <td class="title">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100" class="logimg" rowspan="2" style="background-color:#be0f34;"><img src="~/Content/images/ul_Logo.jpg" style="margin-left:10px;" /></td>
                        <td class="titleCenter"><h1>@bModel.Category</h1></td>
                    </tr>
                    <tr>
                        <td class="titleCenter" style="background-color:#be0f34;"><h2>File Number : @bModel.FileNumber</h2></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" style="margin-top:20px;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="85%">
                            <spn class="font16"><h1>@bModel.Serires</h1></spn>
                            <span class="message"><h2> @bModel.Field8</h2></span>
                        </td>
                        <td width="15%" align="right">
                            <img src="~/Content/images/ul_rjus.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <spn class="font16"><h3>@bModel.Manufactory </h3></spn>
                            <span class="message"><h4>@bModel.Field10</h4></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:10px 0px;">
                <div style="border:solid 2px #be0f34;">
                    @foreach (var item in clist)
                    {
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            @if (string.IsNullOrWhiteSpace(item.Attribute2) && string.IsNullOrWhiteSpace(item.Attribute3))
                            {
                                <tr class="trtitle">
                                    <td width="50%" class="pand10">@item.Attribute1</td>
                                    <td width="15%" align="right">额定值&nbsp;</td>
                                    <td width="15%" align="left">单位制</td>
                                    <td width="20%">测试方法</td>
                                </tr>
                            }
                            else
                            {
                                var className = "pand30";
                                if (string.IsNullOrWhiteSpace(item.Attribute3))
                                {
                                    className = "pand20";
                                }
                                <tr class="showlist @className">
                                    <td width="50%">@(item.Attribute2 + "  " + item.Attribute3)</td>
                                    <td width="15%" align="right">@(item.Value)</td>
                                    <td width="15%" align="left">&nbsp;&nbsp;@(item.Unit)</td>
                                    <td width="20%">@item.TestType</td>
                                </tr>
                            }

                        </table>
                    }
                </div>

            </td>
        </tr>
        <tr>
            <td height="20">&nbsp;</td>
        </tr>
    </table>

</body>
</html>
